@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@font-face {
  font-family: Foundry;
  font-display: swap;
  src: local(Foundry-Origin-Light),
    url(../fonts/Foundry-Origin-Light.otf) format("truetype");
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
}

@font-face {
  font-family: Foundry;
  font-display: swap;
  src: local(Foundry-Origin-Bold),
    url(../fonts/Foundry-Origin-Bold.otf) format("truetype");
  font-style: normal;
  font-stretch: normal;
  font-weight: bold;
}

:root{
  --tekton-green-bg: #004752;
  --tekton-white: #fff;
  --tekton-blue: #488DFF;
  --tekton-light-grey: #EEEEEE;
  --tekton-yellow: #FFB948;
  --tekton-aqua: #00D7C2;
  --tekton-aqua-title: #00D7C2;
  --tekton-bg-lightgrey: #EEEEEE;
  --tekton-purple:#9C27B0;
  --tekton-blue-services:#478DFF;
  --tekton-green-services:#034752;
  --tekton-bg-input:#EFF0F6;
  --tekton-red:#F25252;
  --global-padding:48px;
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

header{
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 86px;
  color:var(--tekton-white);
  background-color: var(--tekton-green-bg);
  width: 100%;  
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}

p,
h1,
h2,
h3,
h4{
  margin: 0;
}

.img-responsive{
  width: 100%;
}

.container-header{
  display: grid;
  width: 1280px;
  padding: 0 120px;
  grid-template-columns: 2fr 7fr 3fr;
  align-items: center;
  gap: 32px;
}

.container{
  width: 1280px;
  padding: 0 120px;
  align-items: center;
  gap: 32px;
}

.wrapper{
  max-width: 1280px;
  margin: auto;
  padding: 0 120px;
  width: 100%;
}

ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
}

nav > ul{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
}

nav > ul > li {
  padding-right: 2.8em;
}

nav > ul > li a{
  color:var(--tekton-white);
}

.btn{
  font-family: 'Montserrat', sans-serif;
  padding: 16px 56px;
  color:var(--tekton-white);
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  border: none;
}

.blue{
  background-color: var(--tekton-blue);
}

.hero{
  width: 100%;
  background: linear-gradient(#0003, #0003), url('../images/hero1.jpg');
  background-size: cover;
  min-height: 666px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.hero-thanks{
  width: 100%;
  background: url('../images/hero-thankyou.jpg');
  background-size: cover;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.hero-text{
  padding-bottom: 45px;
  text-align: center;
}

.hero-text p:nth-child(1){
  color:var(--tekton-white);
  font-weight: 600;
  font-size: 3.25rem;
}

.hero-text p:nth-child(2){
  font-family: Foundry !important;
  color:var(--tekton-aqua-title);
  font-weight: 700;
  font-size: 5.125rem;
  line-height: 66px;
  padding-bottom: 50px;
}

.section-title{
  font-weight: 500;
  font-size: 3rem;
  font-family: Foundry !important;
}

.section-title-blue{
  color: var(--tekton-aqua-title);
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

/* Section About Us */
.wrapper-about{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: green;
  grid-template-areas: "about-img about-description about-description"
                      "about-projects about-clients about-industries";
}

.about-us{
  padding-top: 80px;
  width: 100%;
}

.abus{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "about-img about-description";
  gap: 32px;
}

.abus2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "about-projects about-clients about-industries";
  gap: 32px;
  margin-top: 60px;
}

.about-img{
  grid-area: about-img;
}

.about-description{
  grid-area: about-description;
  --display: flex;
  flex-direction: column;
  padding-top: 46px;
  font-size: 1.25rem;
  font-weight: 100;
}

.about-description h2{
  padding-bottom: 48px;
}

.about-description p:nth-child(1){
  padding-bottom: 0px;
}

.about-description p:nth-child(2){
  padding-bottom: 48px;
  font-size: 2.7rem !important;
}

.about-description p:nth-child(3){
  padding-bottom: 48px;
}

.about-projects{
  color: var(--tekton-blue);
}

.about-clients{
  color: var(--tekton-yellow);
}

.about-industries{
  color: var(--tekton-aqua);
}

.abus2 > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 177px;
  background-color: var(--tekton-light-grey);
}

.detail-title{
  color: #747474;
  font-size: 1.25rem;
}

.counter{
  font-weight: 700;
  font-size: 3.5625rem;
}

.counter::after{
  content: "+";
}

.about-title{
  font-family: 'Montserrat', sans-serif !important;
  color: var(--tekton-aqua-title);
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 8px;
}

/* Section About Us */

/* Section Services */
.services{
  margin-top: 80px;
  width: 100%;
  background-color: var(--tekton-bg-lightgrey);
}

.servs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "services-title services-description";
  gap: 32px;
  padding-top: 80px;
  align-items: center;
}

.services-title{
  font-size: 1.25rem;
}

.services-title .section-title{
  padding-right: 60px;
}

.services-title p:nth-child(3){
  padding-top: 20px;
}

.services-description{
  font-size: 1.5rem;
}

.services-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 60px;
}

.define,
.build,
.scale{
  display: grid;
  background: var(--tekton-white);
  --padding-bottom: 30px;
  grid-template-rows: 150px 40px 220px auto;
  --gap: 10px;
}


.define-title{
  display: flex;
  align-items: center;
}

.build-svg,
.scale-svg{
  display: flex;
  justify-content: end;
}

.scale-title{
  display: flex;
  align-items: center;
}

.build-title{
  display: flex;
  align-items: center;
}

.define-title div,
.build-title div,
.scale-title div{
  font-size: 2rem;
  font-weight: 600;
  padding-left: 33px;
}

.tekton-green{
  color:var(--tekton-green-services);
}

.tekton-blue{
  color:var(--tekton-blue-services);
}

.tekton-purple{
  color:var(--tekton-purple);
}

.define-description,
.build-description,
.scale-description{
  font-size: 1.27rem;
  font-weight: 100;
  padding: 32px;
}

.engagement{
  text-align: center;
  margin-top: 86px;
}

.engagement-types{
  padding: 0 50px 120px;
  margin-top: 53px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "engagement-teams engagement-staff engagement-projects";
  gap: 120px;
}

.engagement-type-icon{
  display: flex;
  align-items: center;
}

.engagement-type-icon span{
  border-top: 1px dashed var(--tekton-green-services);
  width: 100%;
  height: 1px;
}

.engagement-type{
  display: flex;
  font-size: 1.5rem;
  gap: 24px;
  flex-direction: column;
  padding-bottom: 20px;
}

.engagement-teams{
  grid-area: engagement-teams;
  /*grid-column-start: 2;
  grid-column-end: 5;*/
  border-bottom: 4px solid var(--tekton-aqua);
}

.engagement-staff{
  grid-area: engagement-staff;
  /*grid-column-start: 5;
  grid-column-end: 8;*/
  border-bottom: 4px solid var(--tekton-blue);
}

.engagement-projects{
  grid-area: engagement-projects;
  /*grid-column-start: 8;
  grid-column-end: 11;*/
  border-bottom: 4px solid var(--tekton-red);
}

.engagement-title,
.engagement-description{
  text-align: left;
}

.engagement-description{
  font-weight: 100;
  font-size: 1.3rem;
}


/* Section Services */

/* Hero Improve */
.hero-improve{
  width: 100%;
  background: url('../images/here-background.jpg');
  background-size: cover;
  min-height: 620px;
  align-items: center;
  display: grid;
}

#improve{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  
}

#improve p{
  color: var(--tekton-white);
  font-size: 2.1875rem;
  font-weight: 600;
}

#improve span{
  color:var(--tekton-aqua-title);
  font-size: 4.6875rem;
  font-family: Foundry !important;
  line-height: 70px;
}

.improve-description-container{
  display: flex;
  justify-content: end;
}

.improve-description{
  background: rgb(0,0,0,.5);
  display: flex;
  position: relative;
  color:var(--tekton-white);
  align-items: center;
  justify-content: center;
  padding: 65px;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 488px;
}

.improve-description:before{
  position: absolute;
  left: 0px;
  content: "";
  top: 13px;
  width: 26px;
  border: 10px solid var(--tekton-aqua-title);
}

.improve-description:after{
  position: absolute;
  content: "";
  bottom: 13px;
  width: 26px;
  right: 0px;
  border: 10px solid var(--tekton-purple);
}

/* Hero Improve */

/* Section Trust */
.trust{
  margin-top: 80px;
  text-align: center;
  padding-bottom: 56px;
}

.companies{
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  margin-bottom: 56px;
  margin-top: 56px;
}

.trust-text{
  font-size: 1.375rem;
  padding: 30px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  position: relative;
  margin-top: 20px;
}

.trust-text:before{
  position: absolute;
  content: url("../images/quotes.png");
  background-color: var(--tekton-yellow);
  top: -20px;
  left: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.trust-text:after{
  position: absolute;
  content: "";
  background-color: var(--tekton-yellow);
  bottom: 0px;
  width: 320px;
  height: 2px;
  left: 35%;
}

.client{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client span{
  font-size: 1.125rem;
  font-weight: 600;
}

.client p{
  color: #6D7783;
  font-size: 0.9375rem;
  padding-top: 7px;
}

.slick-dots li{
  width: 12px;
  height: 12px;
}

.slick-slide:not(.slick-current) {
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: .75 !important;
  color: var(--tekton-yellow) !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
}

.slick-dots {
  bottom: -40px !important;
}

.clients{
  padding-top: 80px;
}
/* Section Trust */

/* Section Partners */
.partners{
  margin-top: 25px;
  width: 100%;
  background-color: var(--tekton-bg-lightgrey);
}

.partners-list{
  display: flex;
  justify-content: center;
  padding: 60px 0;
  gap: 80px;
  align-items: center;
}
/* Section Partners */

/* Section Contact Us*/
.contact-us{
  padding: 80px 0;
  font-size: 1.5rem;
}

.contact-form{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "contact-info form";
  gap: 32px;
}

.contact-info{
  grid-area: contact-info;
  grid-column-start: 1;
  grid-column-end: 6;
}

.form{
  font-size: 1.25rem;
  grid-area: form;
  grid-column-start: 6;
  grid-column-end: 12;
}

.form-row{
  display: flex;
  gap: 32px;
  padding-bottom: 20px;
}

.form-row label{
  display: grid;
}

input,
select,
textarea{
  background-color: var(--tekton-bg-input);
  border: none;
  padding: 10px;
  width: 100%;
  font-family: 'Montserrat', sans-serif !important;
}

.hs-input {
  width: 100% !important;
}

.hs-error-msg{
  color: var(--tekton-red);
  font-size: 1rem;
}

.hs-button {
  background-color: var(--tekton-blue);
  font-family: 'Montserrat', sans-serif;
  padding: 16px 56px;
  color:var(--tekton-white);
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
}

label{
  width: 100%;
}

form fieldset:nth-child(1),
form fieldset:nth-child(2),
form fieldset:nth-child(3),
form fieldset:nth-child(4){
  padding-bottom: 20px !important;
}

#contact-us label{
  font-size: .9rem !important;
}
/* Section Contact Us*/

/* Footer */
footer{
  display: grid;
  justify-content: center;
  background-color: var(--tekton-green-bg);
  width: 100%;  
  font-size: 0.875rem;
  color: var(--tekton-white);
  padding: 40px 0;
}

footer a{
  color: var(--tekton-white);
}

footer ul > li > a{
  font-weight: 600;
}

footer ul > li:nth-child(1){
  padding-bottom: 18px;
}

footer ul:nth-child(3){
  margin-top: 0;
}

footer ul:nth-child(3) > li{
  display: flex;
  align-items: center;
}

.footer-menu li:nth-child(2){
  padding-bottom: 18px !important;
}

.container-footer{
  display: grid;
  width: 1280px;
  padding: 0 120px;
  grid-template-columns: repeat(4, 3fr);
  gap: 32px;
}

.social-networks{
  display: flex;
  gap: 40px;
  padding-top: 18px;
}

.social-networks li{
  padding: 0 !important;
}

.mail-footer{
  display: flex;
  align-items: center;
  padding: 22px 0;
}

.icon-mail{
  background: url('../images/icon-mail.png');
  width: 18px;
  height: 12px;
  display: block;
  margin-right: 10px;
}

.icon-phone{
  background: url('../images/icon-phone.png');
  width: 14px;
  height: 14px;
  display: block;
  margin-right: 20px;
}

.hs_recaptcha{
  display: flex;
  margin-bottom: 20px;
}

.hs-fieldtype-text,
.hs-fieldtype-select,
.hs-fieldtype-textarea {
  text-align: left !important;
}
/* Footer */

/* Thank you page */
.thankyou-description-container{
  display: flex;
}

.thankyou-description{
  background: rgb(0,0,0,.3);
  position: relative;
  color:var(--tekton-white);
  padding: 18px 50px 50px 50px;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 530px;
}

.thankyou-description:before{
  position: absolute;
  left: 0px;
  content: "";
  top: 13px;
  width: 27px;
  border: 12px solid var(--tekton-aqua-title);
}

.thankyou-description p:nth-child(1){
  font-size: 1rem;
  color:var(--tekton-aqua) !important;
}

.thankyou-description p:nth-child(2){
  font-size: 3rem;
  padding-top: 8px;
  color:var(--tekton-white) !important;
  font-family: Foundry !important;
}

.thankyou-description p:nth-child(3){
  font-size: 1.5rem;
  padding-top: 32px;
  color:var(--tekton-white) !important;
  font-weight: 600;
  max-width: 350px;
}

.thankyou-description p:nth-child(4){
  padding-top: 40px;
}

#thank-you{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}  

/* Thank you page */


@media only screen and (max-width: 900px) {
  .container-header {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 15px;
    background-color: var(--tekton-green-bg);
  }

  header{
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
  }

  .logo{
    text-align: center;
  }

  nav > ul {
    padding: 0;
    margin: 0;
  }

  .wrapper {
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
 
  .abus{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "about-img" 
                        "about-description";
    gap: 32px;
  }
 
  .servs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "services-title"
                        "services-description";
    gap: 32px;
    padding-top: 40px;
    align-items: center;
  }

  .hero{
    width: 100%;
    background: url('../images/hero1.jpg');
    background-size: cover;
    min-height: 300px;
  }

  .about-us{
    margin-top: 25px;
    width: 100%;
    padding: 0 25px;
  }
  
  .about-description {
    grid-area: about-description;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 0px !important;
  }

  .abus2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "about-projects" 
                        "about-clients" 
                        "about-industries";
    gap: 32px;
    margin-top: 60px;
  }
  
  .services{
    padding: 0 25px;
    text-align: center;
  }

  .services-title .section-title {
    padding-right: 0px;
  }

  .services-title p:nth-child(3) {
    text-align: justify;
  }

  .services-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 60px;
  }

  .define-svg{
    text-align: left;
  }

  .engagement-types {
    margin-top: 53px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas: "engagement-teams" 
                        "engagement-staff" 
                        "engagement-projects";
    gap: 70px;
    padding-bottom: 50px;
  }

  .engagement-teams{
    grid-area: engagement-teams;
  }
  
  .engagement-staff{
    grid-area: engagement-staff;
  }
  
  .engagement-projects{
    grid-area: engagement-projects;
  }
  
  .engagement-type-icon{
    justify-content: center;
  }

  .engagement-title,
  .engagement-description{
    text-align: center;
  }

  .engagement {
    margin-top: 50px !important;
  }

  .companies {
    flex-wrap: wrap;
  }

  .trust {
    margin-top: 50px;
  }

  .partners-list{
    flex-wrap: wrap;
  }

  .partners-list img:nth-child(1){
    margin-left: 30px;
  }

  .contact-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contact-info" 
                      "form";
    gap: 32px;
    text-align: center;
    padding-top: 50px;
  }

  .contact-info{
    grid-area: contact-info;
  }
  
  .form{
    font-size: 1.25rem;
    grid-area: form;
  }
  
  .contact-us {
    padding: 25px;
    font-size: 1.5rem;
  }
  
  .form-row{
    flex-wrap: wrap;
  }

  .partners-list{
    padding: 40px;
  }

  .section-title{
    font-size: 2.75rem;
  }

  header a.btn{
    display: none;
  }
  
  .hero-improve {
    min-height: 140px;
  }

  .container-footer{
    width: 100%;
    display: grid;
    padding: 25px;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 32px;
    text-align: center;
  }

  footer ul:nth-child(3) > li {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  footer ul:nth-child(3) > li:nth-child(2) {
    padding-bottom: 0px;
  }

  .hero-text p:nth-child(2) {
    font-size: 2rem;
    line-height: 30px;
    padding-bottom: 10px;
  }

  .hero-text p:nth-child(1) {
    font-size: 1.3rem;
  }

  .hero-text .btn{
    padding: 0.4rem 0.8rem;
    font-size: .8rem;
  }

  .about-description p {
    padding-bottom: 1rem;
  }

  form button{
    width: 100%;
  }

  .partners {
    margin-top: 40px;
  }

  #improve{
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
  }  

  #improve p {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
  }

  #improve span {
    font-size: 3.6875rem;
  }

  .improve-description-container {
    justify-content: center;
    margin-top: 30px;
  }

  form fieldset{
    max-width: 100% !important;
  }

  nav > ul > li:nth-child(3) {
    padding-right: 0;
  }

  .hero-thanks{
    max-width: 100%;
    background: url('../images/hero-thankyou.jpg');
    background-size: cover;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-position-x: -80px;
    background-repeat: no-repeat;
  }
  
  #thank-you {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
  }

  
  .thankyou-description p:nth-child(1){
    font-size: 1rem;
    color:var(--tekton-aqua) !important;
  }
  
  .thankyou-description p:nth-child(2){
    font-size: 2rem;
  }
  
  .thankyou-description p:nth-child(3){
    font-size: 1.2rem;
  }
  
  .thankyou-description {
    max-width: none;
  }

  .mail-footer {
    justify-content: center;
  }

  .social-networks {
    justify-content: center;
  }

  .trust-text::after {
    width: 90px;
    left: 39%;
  }

  .trust-text{
    font-size: 1rem;
  }

  .hs_firstname{
    padding-bottom: 20px !important;
  }
  
}






.card {
  display: grid;
  border-radius: 4px;
  border: 1px solid var(--tekton-bg-lightgrey);
  min-height: 500px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: all .7s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  opacity: 1;
}

.hide_div{
  opacity: 0;
}

.show_div{
  opacity: 1 !important;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.front-explore-define,
.front-explore-build,
.front-explore-scale{
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-explore-define a{
  color: var(--tekton-purple);
  padding: 10px 50px;
  border: 2px solid var(--tekton-purple);
}

.front-explore-build a{
  color: var(--tekton-blue);
  padding: 10px 50px;
  border: 2px solid var(--tekton-blue);
}

.front-explore-scale a{
  color: var(--tekton-green-bg);
  padding: 10px 50px;
  border: 2px solid var(--tekton-green-bg);
}



.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.card__face--front {
  background-color: var(--tekton-white);
  display: flex;
  justify-content: center;
  transition: all .7s;
}

.card__face--back {
  background-color: var(--tekton-purple);
  color: var(--tekton-white);
  opacity: 0;
  transition: all .7s;
}

.card__content {
  width: 100%;
  height: 100%;
  display: grid;
}

.card__header {
  position: relative;
}

.card__header h2 {
  color: #FFF;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.define-back{
  background-color: var(--tekton-purple) !important;
  background: url(../images/define-back.png);
  background-repeat: no-repeat;
  padding: 24px;
}

.build-back{
  background-color: var(--tekton-blue) !important;
  background: url(../images/define-back.png);
  background-repeat: no-repeat;
  padding: 24px;
}

.scale-back{
  background-color: var(--tekton-green-bg) !important;
  background: url(../images/define-back.png);
  background-repeat: no-repeat;
  padding: 24px;
}

.define-back ul,
.build-back ul,
.scale-back ul{
  list-style: circle;
  padding: 0 35px;
}

.define-back ul li,
.build-back ul li,
.scale-back ul li{
  padding-bottom: 10px;
}

.card__footer a{
  border: 1px solid var(--tekton-white);
  
}

.card__footer{
  display: flex;
  justify-content: center;
  align-items: end;
}

.card__footer a{
  padding: 10px 50px;
  background: no-repeat;
  border: 1px solid var(--tekton-white);
  color: var(--tekton-white);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
}